<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>车型测试</title>
    <link rel="stylesheet" href="./main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
<div id="box">
    <div class="form-group">
        <label for="carModel">请输入要测试的车型:</label>
        <input type="text" id="carModel" name="carModel">
    </div>

    <div class="form-group">
        <label for="testerName">请输入测试员的名字:</label>
        <input type="text" id="testerName" name="testerName">
    </div>

    <div class="form-group">
        <button id="fileUButton" onclick="getFile()">选择模块</button>
        <label id="fileUpload"></label>
    </div>
    <button onclick="startTest(false)">开始</button>
</div>

<div class="control" style="display: none">
</div>

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                您觉得此操作是否有<span style="color: red">突出优点或者缺点</span>？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirmYes">有</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="confirmNo">无</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="out" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                确认<span style="color: red">操作完成</span>并记录？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="outYes">是</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="outNo">否</button>
            </div>
        </div>
    </div>
</div>


<script src="./main.js"></script>
</body>
</html>
